body {
	margin: 0px;
}

#container {
	background-color: #000;
	overflow: hidden;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
}

#title {
	font-family: 'Bungee Shade', monospace;
	color: #b5faf6;
	font-size: 2.3em;
	position: absolute;
	left: 33%;
}

#result {
	font-family: 'Bungee Shade', monospace;
	color: #b5faf6;
	font-size: 4em;
	text-decoration: blink;
}

